# Phone verification

Phone verification is both quick and simple. There are three methods to veriy your phone number:-

1. [SMS Verification](phone-verification.md#id-1.-sms-verification)
2. [Phone call verification](phone-verification.md#id-2.-verification-via-phone-call)
3. [WhatsApp verification (Costa Rica only)](phone-verification.md#id-3.-whatsapp-verification)



## 1. SMS Verification

* Select country
* Enter phone number
  * This number must be able to accept SMS messages - landlines and certain VOIP numbers may not be able to be verified.
* You will receive an SMS message to the number
* If you don't receive the message, select [Verification via Phone Call](phone-verification.md)
* Screenshots

## 2. Verification via Phone Call&#x20;

* Select country
* Enter phone number
* We will send an SMS
* If you don't receive it, select call me instead
* What's app option
* Screenshots

## 3. WhatsApp verification

* Select country
* Enter phone number
* We will send an SMS
* If you don't receive it, select call me instead
* What's app option
* Screenshots



