# Automated Verification



## How does automated verification work?

* What is InCode?
* What is the process?
* How long does it take?
* It's way better

## Does automated verification respect my privacy?

* Data is deleted after 30 days
* Data is never shared with anyone else

## Opting-out with manual verification

* It will take much longer
* It is more complicated
* We require more information
* Data is not shared with a third party
