# Business Verification

## **Required Information**

* Legal name of the business;
* Business address;
* Phone number;
* Business identification number (BIN) or Tax ID;
* Nature of the principal business;
* Beneficial owners: Name and address of the beneficial owners or the individuals who directly or indirectly own or control 25% or more of the company;
* Directors: Names of all directors of the company;
* Legal representative: Personal information up to the Level Verified of the beneficiary owner of the company and/or the person that will be authorized to use the account. (An ID could be required to complete the verification).

## **Required Documents**

* Certificate of Incorporation or registration document;
* Company ownership or legal structure document;

## Limits

{% tabs %}
{% tab title="FUNDING" %}
**FUNDING LIMITS FOR BUSINESS ACCOUNTS**
{% endtab %}

{% tab title="BUY" %}
**BUYING LIMITS FOR BUSINESS ACCOUNTS**
{% endtab %}

{% tab title="SELL" %}
**SELLING LIMITS FOR BUSINESS ACCOUNTS**
{% endtab %}

{% tab title="BILLS" %}
**BILLING LIMITS FOR BUSINESS ACCOUNTS**


{% endtab %}
{% endtabs %}
