# Manual Verification



{% hint style="warning" %}
* Manual identity verification takes longer and is more complicated than automated identity verification. Only use this option if you truly want to opt-out of automated identity verification.
* Manual identity verification can be required if Automated Identity Verification fails or if we need to perform Enhanced Due Diligence (EDD) for legal reasons or if we believe your identity may have been compromised.
{% endhint %}

## How to Manually Verify your Identity

1. Upload identity document
2. Upload selfie of you holding an ID
3. Upload a proof of residence

## Acceptable Documents

### Identification

* Name
* Date of Birth
* Valid - not expired

#### Examples

* Passport
* Drivers Permit

### Proof of Address

* Official Letterhead
* Dated in the last 3 months
* Name

#### Examples

* Credit card bill or bank statement
* Utilities Bill

{% hint style="info" %}
For speed and convenience, we recommend verfiying your information automatically,

* [How to Automatically Verify your Identity](../../../../en/how-to-get-verified/verification-basics/3.-verified/automated-verification.md)
{% endhint %}
