# SINPE Verification







{% hint style="info" %}
* SINPE verification is required to Buy Bitcoin with SINPE in Costa Rica
* This service is available **only in Costa Rica**
{% endhint %}

## How to Verify with SINPE Movil

